{{> userProfileHeader}}

<div class="container">
  <div class="edit-container">
    <h3>Edit Details</h3>

    <form class="form edit-details" action="/user/{{user._id}}/updatePersonalDetails" method="POST">
      <label class="labels">Personal data:</label>
      <div class="edit-labels">
        <label for="firstName">First Name:</label>
        <input type="firstName" name="firstName" value="{{user.firstName}}" id="firstName">
      </div>
      {{#if errors}}
        <div class='error-message'>
          <ul>
          {{#each errors}}
            {{{isEqual msg 'First name must be filled'}}}
          {{/each}}
        </ul>
        </div>
      {{/if}}
      <div class="edit-labels">
        <label for="lastName">Last Name:</label>
        <input type="lastName" name="lastName" value="{{user.lastName}}" id="lastName">
      </div>
      {{#if errors}}
        <div class='error-message'>
          <ul>
          {{#each errors}}
            {{{isEqual msg 'Last name must be filled'}}}
          {{/each}}
        </ul>
        </div>
      {{/if}}
      <div class="edit-labels">
        <label for="email">Email:</label>
        <input type="email" name="email" value="{{user.email}}" id="email">
      </div>
      {{#if errors}}
        <div class='error-message'>
          <ul>
          {{#each errors}}
            {{{isEqual msg 'Invalid email'}}}
          {{/each}}
        </ul>
        </div>
      {{/if}}
      <div class="edit-labels">
        <label for="address">Address:</label>
        <input type="text" name="address" value="{{user.address}}" id="address">
      </div>
      {{#if errors}}
        <div class='error-message'>
          <ul>
          {{#each errors}}
            {{{isEqual msg 'Address must be filled'}}}
          {{/each}}
        </ul>
        </div>
      {{/if}}
      <div class="edit-labels">
        <label for="phoneNumber">Phone Number:</label>
        <input type="phoneNumber" name="phoneNumber" value="{{user.phoneNumber}}" id="phoneNumber">
      </div>
      {{#if errors}}
        <div class='error-message'>
          <ul>
          {{#each errors}}
            {{{isEqual msg 'Phone number must have 9 digits'}}}
          {{/each}}
        </ul>
        </div>
      {{/if}}

      {{!-- {{#if errors}}
        <div class='error-message'>
          <ul>
            {{#each errors}}
              <li>{{msg}}</li>
            {{/each}}
          </ul>
        </div>
      {{/if}} --}}
      <div class="center-btn">
        <button type="submit" class="submit-btn">Update details</button>
      </div>
    </form>
    <hr>

    <form class="form edit-details" action="/user/{{user._id}}/updateUserNotes" method="POST">
      <label class="labels" for="userNotes">Notes about your needs:</label>
      <textarea id="userNotes" name="userNotes" rows="10" cols="50">{{user.notes}}</textarea>
      <div class="center-btn">
        <button type="submit" class="submit-btn">Update notes</button>
      </div>
    </form>

    <form class="form edit-details" action="/user/{{user._id}}/updateSchedule" method="POST">
      <label class="labels">Schedule Preference:</label>
      <div class="align-checkbox">
        <input type="checkbox" id="morning" name="morning" value="Morning: 8am - 12pm"
          {{{isChecked "Morning: 8am - 12pm" user.schedulePreference}}}>
        <label for="morning">Morning: 8am - 12pm</label>
      </div>
      <div class="align-checkbox">
        <input type="checkbox" id="afternoon" name="afternoon" value="Afternoon: 12pm - 4pm"
          {{{isChecked "Afternoon: 12pm - 4pm" user.schedulePreference}}}>
        <label for="afternoon">Afternoon: 12pm - 4pm</label>
      </div>
      <div class="align-checkbox">
        <input type="checkbox" id="evening" name="evening" value="Evening: 4pm - 8pm"
          {{{isChecked "Evening: 4pm - 8pm" user.schedulePreference}}}>
        <label for="evening">Evening: 4pm - 8pm</label>
      </div>
      <div class="align-checkbox">
        <input type="checkbox" id="night" name="night" value="Night: 8pm - 12am"
          {{{isChecked "Night: 8pm - 12am" user.schedulePreference}}}>
        <label for="night">Night: 8pm - 12am</label>
      </div>
      <div class="align-checkbox">
        <input type="checkbox" id="overNight" name="overNight" value="Over Night: 12am - 8am"
          {{{isChecked "Over Night: 12am - 8am" user.schedulePreference}}}>
        <label for="overNight">Over Night: 12am - 8am</label>
      </div>
      <div class="align-checkbox">
        <input type="checkbox" id="24hours" name="fullDay" value="24 hours"
          {{{isChecked "24 hours" user.schedulePreference}}}>
        <label for="24hours">24 hours</label>
      </div>
      <div class="center-btn">
        <button type="submit" class="submit-btn">Update schedule</button>
      </div>
    </form>
    <hr>

    <form class="form edit-details" action="/user/{{user._id}}/updateNeeds" method="POST">
      <label class="labels">Specific Needs:</label>
      <div class="align-checkbox">
        <input type="checkbox" id="healthCare" name="healthCare" value="Health Care"
          {{{isChecked "Health Care" user.specificNeeds}}}>
        <label for="healthCare">Health Care</label>
      </div>
      <div class="align-checkbox">
        <input type="checkbox" id="houseCare" name="houseCare" value="House Care/Maintenance"
          {{{isChecked "House Care/Maintenance" user.specificNeeds}}}>
        <label for="houseCare">House Care/Maintenance</label>
      </div>
      <div class="align-checkbox">
        <input type="checkbox" id="displacements" name="displacements" value="Displacements"
          {{{isChecked "Displacements" user.specificNeeds}}}>
        <label for="displacements">Displacements</label>
      </div>
      <div class="align-checkbox">
        <input type="checkbox" id="grocery" name="grocery" value="Grocery Shopping"
          {{{isChecked "Grocery Shopping" user.specificNeeds}}}>
        <label for="grocery">Grocery Shopping</label>
      </div>
      <div class="align-checkbox">
        <input type="checkbox" id="pupil" name="pupil" value="Pupil" {{{isChecked "Pupil" user.specificNeeds}}}>
        <label for="pupil">Pupil (for at-risk youth in need of a mentor)</label>
      </div>
      <div class="center-btn">
        <button type="submit" class="submit-btn">Update needs</button>
      </div>
    </form>
    <hr>

    <form class="form edit-details" action="/user/{{user._id}}/updateEmergContact" method="POST">
      {{!-- <label class="labels">Emergency Contact details:</label> --}}
      <fieldset>
        <legend>Emergency contact information:</legend>
        <div class="edit-labels">
          <label for="address">First Name:</label>
          <input type="text" name="emergFirstName" value="{{user.emergencyContact.firstName}}">
        </div>
        {{#if errors}}
          <div class='error-message'>
            <ul>
            {{#each errors}}
              {{{isEqual msg "Emergency contact's first name must be filled"}}}
            {{/each}}
          </ul>
          </div>
        {{/if}}
        <div class="edit-labels">
          <label for="address">Last Name:</label>
          <input type="text" name="emergLastName" value="{{user.emergencyContact.lastName}}">
        </div>
        {{#if errors}}
          <div class='error-message'>
            <ul>
            {{#each errors}}
              {{{isEqual msg "Emergency contact's last name must be filled"}}}
            {{/each}}
          </ul>
          </div>
        {{/if}}
        <div class="edit-labels">
          <label for="address">Phone Number:</label>
          <input type="number" name="emergPhoneNumber" value="{{user.emergencyContact.phoneNumber}}">
        </div>
        {{#if errors}}
          <div class='error-message'>
            <ul>
            {{#each errors}}
              {{{isEqual msg "Emergency contact's phone number must have 9 digits"}}}
            {{/each}}
          </ul>
          </div>
        {{/if}}
        <div class="edit-labels">
          <label for="address">Email:</label>
          <input type="email" name="emergEmail" value="{{user.emergencyContact.email}}">
        </div>
        {{#if errors}}
          <div class='error-message'>
            <ul>
            {{#each errors}}
              {{{isEqual msg "Emergency contact's invalid email"}}}
            {{/each}}
          </ul>
          </div>
        {{/if}}
        <div class="edit-labels">
          <label for="address">Address:</label>
          <input type="text" name="emergAddress" value="{{user.emergencyContact.address}}">
        </div>
        {{#if errors}}
          <div class='error-message'>
            <ul>
            {{#each errors}}
              {{{isEqual msg "Emergency contact's address must be filled"}}}
            {{/each}}
          </ul>
          </div>
        {{/if}}
      </fieldset>
      <div class="center-btn">
        <button type="submit" class="submit-btn">Update contact</button>
      </div>
    </form>
    <hr>



    <form class="form edit-details" action="/user/{{user._id}}/uploadPhoto" method="POST" enctype="multipart/form-data">
      <label class="labels">Profile picture:</label>
      <div class="edit-labels">
        <input type="file" name="photo" id="upload-photo">
      </div>

      <div class="center-btn">
        <button type="submit" class="submit-btn">Upload photo</button>
      </div>
    </form>
    <hr>

    <form class="form edit-details" action="/user/{{user._id}}/changePassword" method="POST">
      <label class="labels">Password:</label>
      <div class="edit-labels d-wrap">
        <input type="password" name="password" placeholder="••••••••••" id="password">
      </div>
      {{#if errors}}
          <div class='error-message'>
            <ul>
            {{#each errors}}
              {{{isEqual msg "Minimum length of 6 characters"}}}
            {{/each}}
          </ul>
          </div>
        {{/if}}
      <div class="center-btn">
        <button type="submit" class="submit-btn">Change password</button>
      </div>
    </form>
    <hr class="hr-thicker">

    <h3>Edit Volunteers</h3>

    {{#if user.assignedVolunteers}}
      <form class="form edit-details" action="/user/{{user._id}}/deleteAssignedVolunteer" method="POST">
        <label class="labels volunteers-label">Assigned volunteers:</label>
        <div class="volunteers-list">
          <ul>
            {{#each user.assignedVolunteers}}
            <li>
              <input type="checkbox" id="{{_id}}" name="assignedVolunteer" value="{{_id}}">
              <label class="delete-volunteer-btn" for="{{_id}}">
                <div>
                  <img src="{{imgPath}}">
                  <span>{{firstName}} {{lastName}}</span>
                </div>
                <div class="rate-assigned">
                  {{#if evaluation.averageRate}}
                    <span>rate: <strong>{{evaluation.averageRate}}</strong></span>
                    {{else}}
                    <span>rate: <strong>0</strong></span>
                  {{/if}}
                  <div class="delete-sign">&#10006</div>
                </div>
              </label>
            </li>
            {{/each}}
          </ul>
        </div>

        <div class="center-btn">
          <button type="submit" class="submit-btn red">Delete selected</button>
        </div>
      </form>
      {{!-- {{else}}
      <span>No volunteers assigned yet</span> --}}
      <hr>
    {{/if}}

    
    <form class="form edit-details" action="/user/{{user._id}}/assignVolunteers" method="POST">
      <label class="labels volunteers-label">Choose volunteers that match your needs:</label>
      <div class="volunteers-list">
        {{#if volunteers}}
        <ul>
          {{#each volunteers}}
          <li>
            <input type="checkbox" id="{{_id}}" name="volunteer" value="{{_id}}">
            <label class="volunteer-btn" for="{{_id}}">
              <div>
                <img src="{{imgPath}}">
                <span>{{firstName}} {{lastName}}</span>
              </div>
              <div class="rate-assigned">
                {{#if evaluation.averageRate}}
                  <span>rate: <strong>{{evaluation.averageRate}}</strong></span>
                  {{else}}
                  <span>rate: <strong>0</strong></span>
                {{/if}}
                <div class="assigned-sign">&#10003</div>
              </div>
            </label>
            <div class="par">
              <section>
                <h6>Skills:</h6>
                <ul>
                  {{#each skills}}
                    <li><span>{{this}}</span></li>
                  {{/each}}
                </ul>
              </section>
              <section>
                <h6>About Me:</h6>
                <p>{{aboutMe}}</p>
              </section>
            </div>
          </li>
          {{/each}}
        </ul>
      </div>

      <div class="center-btn">
        <button type="submit" class="submit-btn">Assign volunteers</button>
      </div>
    </form>
    {{else}}
    <span>No matches found.</span>
    {{/if}}
    <hr class="hr-thicker">

    <a href="/user/{{user._id}}">Back to profile</a>

    <form class="form edit-details" action="/user/{{user._id}}/delete" method="POST">
      <p>No longer wish to have an account?</p>
      <div class="center-btn">
        <button type="submit" class="submit-btn red">Delete account</button>
      </div>
    </form>

  </div>
</div>