{{> profileHeader}}

<div class="data-container">
  <div class="title">
    <h2>PERSONAL DATA</h2>
  </div>
  <div class="data-content">
    <div class="personal">
      <p><strong>NAME: </strong>{{user.firstName}} {{user.lastName}}</p>
      <p><strong>BIRTH DATE: </strong>{{user.birthDate}}</p>
      <p><strong>ADDRESS: </strong>{{user.address}}</p>
      <p><strong>EMAIL: </strong>{{user.email}}</p>
      <p><strong>PHONE NUMBER: </strong>{{user.phoneNumber}}</p>
    </div>
    <div class="emergency-contact">
      <h3>Emergency Contact</h3>
      <p><strong>NAME: </strong>{{user.emergencyContact.firstName}} {{user.emergencyContact.lastName}}</p>
      <p><strong>ADDRESS: </strong>{{user.emergencyContact.address}}</p>
      <p><strong>EMAIL: </strong>{{user.emergencyContact.email}}</p>
      <p><strong>PHONE NUMBER: </strong>{{user.emergencyContact.phoneNumber}}</p>
    </div>
  </div>
</div>

<div class="specs">
  <nav class="nav_tabs">
    <ul>
      <li>
        <input type="radio" name="tabs" class="rd_tabs" id="userNeeds">
        <label for="userNeeds" class="rd_lbl">USER NEEDS</label>
        <div id="needs" class="needs content">
          <ul>
            {{#each user.specificNeeds}}
            <li> - {{this}}</li>
            {{/each}}
          </ul>
          <div class="notes">
            <h3>NOTES</h3>
            <article>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero, laboriosam. Non eligendi impedit odio fugit illo perspiciatis reprehenderit voluptas sint qui in. Molestias tenetur facilis unde! Eaque quod aliquid similique quisquam quaerat, accusantium doloremque quia tenetur. Voluptas neque provident ratione perferendis tenetur ipsum, accusantium ab nobis esse assumenda quidem praesentium consequuntur, quae dolor harum. Voluptas, nemo laboriosam. Voluptatum praesentium aspernatur sequi commodi vero! Esse, facere quod! Ratione labore recusandae quaerat magnam necessitatibus reprehenderit! Exercitationem, rerum.
              {{!-- To be filled by the user through a text area of a form in the user edit (DOM manipulation)--}}
            </article>
          </div>
        </div>
      </li>
      <li>
        <input type="radio" name="tabs" class="rd_tabs" id="schdPref">
        <label for="schdPref" class="rd_lbl">SCHEDULE PREFERENCES</label>
        <div id="preferences" class="preferences content">
          <ul>
            {{#each user.schedulePreference}}
            <li>{{this}}</li>
            {{/each}}
          </ul>
        </div>
      </li>
   
  </div>
</div>

<div class="volunteers">
  <div class="user-volunteers" id="userVolunteers" style="overflow: auto;"> {{!--  overflow: auto creats a scroll bar if the content is too big for the div --}}
  <div class="title">
    <h2>ASSIGNED VOLUNTEERS</h2>
  </div>
    {{#if user.assignedVolunteers}}
    <p>You don't have anyone who can help you</p>
    {{else}}
    <ul id="volunteersList">

      {{#each assignedVolunteers}}
      <li>
        <span>{{firstName}}</span>
        <div class="avatar">
          <img src={{avatarUrl}} alt="">
          {{!-- volunteerinitials or sized picture --}}
          {{!-- Content created through DOM --}}
        </div>
      </li>
      {{/each}}
    </ul>
    {{/if}}
  </div>
  <nav class="nav_tabs">
    <ul>
      <li>
        <input type="radio" name="tabs" class="rd_tabs" id="volProfile">
        <label for="volProfile" class="rd_lbl">PROFILE</label>
        <div class="content">
          <p>Name: {{!-- Content created through DOM --}}</p>
          <p>Age: {{!-- Content created through DOM --}}</p>
          <p>Phone Number: {{!-- Content created through DOM --}}</p>
          <p>email: {{!-- Content created through DOM --}}</p>
        </div>
      </li>
      <li>
        <input type="radio" name="tabs" class="rd_tabs" id="volReports">
        <label for="volReports" class="rd_lbl">REPORTS</label>
        <div class="content">
          <p>Inserir aqui os relatorios d voluntario correspondentes ao utilizador</p>
        </div>
      </li>
      <li>
        <input type="radio" name="tabs" class="rd_tabs" id="volSchedules">
        <label for="volSchedules" class="rd_lbl">SCHEDULES</label>
        <div class="content">
          <p>inserir aqui os horários corrspondentes entre utilizador e voluntario</p>
        </div>
      </li>
      <li>
        <input type="radio" name="tabs" class="rd_tabs" id="volRevew">
        <label for="volRevew" class="rd_lbl">PROFILE</label>
        <div class="content">
          <form action="" method="post">
        <label>User Name</label>
        <input type="text" name="author" id="author" value="{{user.firstName}} {{user.lastName}}"> {{!-- To be poppulated --}}
        <label>Volunteer Name</label>
        <input type="text" name="subject" id="subject"> {{!-- To be poppulated with the respectiv volunteer data --}} 
        <div class="ratting">
          <h5>How do you rate the help?</h5>
          <label for="one">1</label>
          <input type="radio" name="rate" id="one" value="1">
          <label for="two">2</label>
          <input type="radio" name="rate" id="two" value="2">
          <label for="three">3</label>
          <input type="radio" name="rate" id="three" value="3">
          <label for="fuor">4</label>
          <input type="radio" name="rate" id="fuor" value="4">
          <label for="five">5</label>
          <input type="radio" name="rate" id="five" value="5">
        </div>
        <label> Your Review</label>
        <textarea name="text" id="tex" cols="150" rows="10"></textarea>

        <button type="submit">Submit Review</button>
      </form>
        </div>
      </li>
    </ul>
  </nav>
  
</div>

{{!-- TO DO: If we have time add INSTITUTIONS block --}}

<script src="/javascripts/userPage.js"></script>