{{> profileHeader}}

<div class="data container">
  <div class="title">
    <h2>PERSONAL DATA</h2>
  </div>
  <div class="data-content">
    <div class="personal">
      <p>NAME: {{user.firstName}} {{user.lastName}}</p>
      <p>BIRTH DATE: {{user.birthDate}}</p>
      <p>ADDRESS: {{user.address}}</p>
      <p>EMAIL: {{user.email}}</p>
      <p>PHONE NUMBER: {{user.phoneNumber}}</p>
    </div>
    <div class="emergency-contact">
      <h3>Emergency Contact</h3>
      <p>NAME: {{user.emergencyContact.firstName}} {{user.emergencyContact.lastName}}</p>
      <p>ADDRESS: {{user.emergencyContact.address}}</p>
      <p>EMAIL: {{user.emergencyContact.email}}</p>
      <p>PHONE NUMBER: {{user.emergencyContact.phoneNumber}}</p>
    </div>
  </div>
</div>

<div class="specs">
  <nav>
    <a href="#needs"><h2>USER NEEDS</h2></a>

    <a href="#preferences"><h2>SCHEDULE PREFERENCES</h2></a>
  </nav>
  <div id="needs" class="needs">
    <ul>
      {{#each user.specificNeeds}}
      <li>{{user.needs}}</li>
      {{/each}}
    </ul>
    <div class="notes">
      <h3>NOTES</h3>
      <article>
        {{!-- To be filled by the user through a text area of a form in the user edit (DOM manipulation)--}}
      </article>
    </div>
  </div>
  <div id="preferences" class="preferences">
    <ul>
      {{#each user.schedulePreference}}
      <li>{{user.preference}}</li>
      {{/each}}
    </ul>
  </div>
</div>

<div class="volunteers">
  <h2>ASSIGNED VOLUNTEERS</h2>
  <div class="user-volunteers" id="user-volunteers" style="overflow: auto;"> {{!--  overflow: auto creats a scroll bar if the content is too big for the div --}}
    <ul id="volunteersList">
      {{#each assignedVolunteer}}
      <li>
        <span>{{volunteer.firstName}}</span>
        <div class="avatar">
          {{!-- volunteerinitials or sized picture --}}
          {{!-- Content created through DOM --}}
        </div>
      </li>
      {{/each}}
    </ul>
  </div>
  <div class="volunteer-details">
    <nav>
      <a href="#volProfile">
        <h3>PROFILE</h3>
      </a>
      <a href="#volReports">
        <h3>REPORTS</h3>
      </a>
      <a href="#volSchedules">
        <h3>SCHEDULES</h3>
      </a>
    </nav>
    <div id="volProfile">
      <p>Name: {{!-- Content created through DOM --}}</p>
      <p>Age: {{!-- Content created through DOM --}}</p>
      <p>Phone Number: {{!-- Content created through DOM --}}</p>
      <p>email: {{!-- Content created through DOM --}}</p>
    </div>
    <div id="volRports" style="overflow: auto;">
      {{!-- Content created through DOM --}}
    </div> 
    <div id="volSchedules">
      {{!-- Content created through DOM --}}
    </div>
   
    {{!-- TO DO: Add form to submit volunteer review --}}
    <div id="volRevew">
      <form action="" method="post">
        <label>User Name</label>
        <input type="text" name="author" id="author" value="{{user.firstName}} {{user.lastName}}"> {{!-- To be poppulated --}}
        <label>Volunteer Name</label>
        <input type="text" name="subject" id="subject"> {{!-- To be poppulated with the respectiv volunteer data --}} 
        <div class="ratting">
          <h5>How do you rate the help?</h5>
          <label for="one">1</label>
          <input type="radio" name="rate" id="one" value="1">
          <label for="two">2</label>
          <input type="radio" name="rate" id="two" value="2">
          <label for="three">3</label>
          <input type="radio" name="rate" id="three" value="3">
          <label for="fuor">4</label>
          <input type="radio" name="rate" id="fuor" value="4">
          <label for="five">5</label>
          <input type="radio" name="rate" id="five" value="5">
        </div>
        <label> Your Review</label>
        <textarea name="text" id="tex" cols="150" rows="10"></textarea>

        <button type="submit">Submit Review</button>
      </form>
    </div>
  </div>
</div>

{{!-- TO DO: If we have time add INSTITUTIONS block --}}

<script src="../javascripts/userPage.js"></script>