{{> userProfileHeader}}
<div class="center-flex">
  <div class="data-container">
    <div class="title">
      <h2>PERSONAL DATA</h2>
    </div>
    <div class="data-content">
      <div class="personal">
        <p><strong>NAME: </strong>{{user.firstName}} {{user.lastName}}</p>
        <p><strong>AGE: </strong>{{user.age}}</p>
        <p><strong>ADDRESS: </strong>{{user.address}}</p>
        <p><strong>EMAIL: </strong>{{user.email}}</p>
        <p><strong>PHONE NUMBER: </strong>{{user.phoneNumber}}</p>
      </div>
      <div class="emergency-contact">
        <h3>Emergency Contact</h3>
        <p><strong>NAME: </strong>{{user.emergencyContact.firstName}} {{user.emergencyContact.lastName}}</p>
        <p><strong>ADDRESS: </strong>{{user.emergencyContact.address}}</p>
        <p><strong>EMAIL: </strong>{{user.emergencyContact.email}}</p>
        <p><strong>PHONE NUMBER: </strong>{{user.emergencyContact.phoneNumber}}</p>
      </div>
    </div>
  </div>

  <div class="specs">
    <nav class="nav_tabs">
      <form>
      <ul>
        <li>
          <input type="radio" name="tabs" class="rd_tabs" id="tab1" checked>
          <label for="tab1" class="mainLabel">USER<br>NEEDS</label>
          <div class="content">
            <article>
              <div class="needs">
                <ul>
                  {{#each user.specificNeeds}}
                  <li>{{this}}</li>
                  {{/each}}
                </ul>
              </div>
              <div class="notes">
                <h3>NOTES</h3>
                  {{user.notes}}{{!-- To be filled by the user through a text area of a form in the user edit (DOM manipulation)--}}
              </div>
            </article>
          </div>
            
        </li>
        <li>
          <input type="radio" name="tabs" class="rd_tabs" id="tab2">
          <label for="tab2" class="mainLabel">SCHEDULE PREFERENCES</label>
          <div class="content schedule">
            <article>
              <ul>
                {{#each user.schedulePreference}}
                <li>{{this}}</li>
                {{/each}}
              </ul>
            </article>
          </div>
        </li>
      </ul>
      </form>
  </div>
  </div>

  <div class="assigned-person">
    <div class="title">
      <h2>ASSIGNED VOLUNTEERS</h2>
    </div>
    <div class="user-volunteers" id="userVolunteers">
      {{!--  overflow: auto creats a scroll bar if the content is too big for the div --}}
      <nav class="col">
        {{#if user.assignedVolunteers}}
        <ul id="volunteersList">
          {{#each user.assignedVolunteers}}
          <li class="column">
            <input type="radio" name="UserAssignedBtn" id="{{_id}}" class="chk_tabs">
            <label for="{{_id}}" class="banner">
              <span id="theName">{{firstName}}</span>
              <img src={{imgPath}} class="avatarImg">
            </label>
            <div class="assignedVolunteerContent">
              <article class="assigned">
                <nav class="nav_tabs">
                  <ul>
                    <li class="row">
                      <input type="radio" name="tabs" class="rd_tabs" id="{{_id}}volProfile" checked=true>
                      <label for="{{_id}}volProfile" class="field">PROFILE</label>
                      <div class="_id" style="display: none;">{{_id}}</div>
                      <div class="content profile-content">
                        <article class="data-article">
                          <p>Name: {{firstName}} {{lastName}}</p>
                          <p>Age: {{age}}</p>
                          <p>Phone Number: {{volPhoneNumber}}</p>
                          <p>Address: <span id="{{_id}}morada">{{address}}</span></p>
                          <p>email: {{email}}</p>
                          <p>Occupation: {{occupation}}</p>
                        </article>
                      </div>
                    </li>
                    <li class="row">
                      <input type="radio" name="tabs" class="rd_tabs" id="{{_id}}volReports">
                      <label for="{{_id}}volReports" class="field">REPORTS</label>
                      <div class="content reports-content">
                        <article>
                          {{#if ../reports}}
                            <p>
                              <strong>Reports from {{firstName}} {{lastName}}</strong>
                            </p>
                            {{#each ../reports}} {{!-- os reports têm que corresponder entre o user e o volunteer --}}
                              {{#if (matches this.author._id ../_id) }}
                                {{!-- <p>MATCHED FOUND!</p> --}}
                                {{#each text}}
                                  <span>Posted on {{{date createdAt}}}</span>
                                  <p class="report-text">{{report}}</p>
                                {{/each}}
                              {{/if}}
                            {{/each}}
                          {{else}}
                            <p>There are no reports available!</p>
                          {{/if}}
                        </article>
                      </div>
                    </li>
                    <li class="row">
                      <input type="radio" name="tabs" class="rd_tabs" id="{{_id}}volSchedules">
                      <label for="{{_id}}volSchedules" class="field">SCHEDULES</label>
                      <div class="content schedules-content">
                        <article>
                          {{#each availablePeriods}} {{!-- fazer helper para comparar e exibir os periodos corrspondentes entre o user e o volunteer --}}
                          <p>{{this}}</p>
                          {{/each}}
                        </article>
                      </div>
                    </li>
                    <li class="row">
                      <input type="radio" name="tabs" class="rd_tabs" id="{{_id}}volRevew">
                      <label for="{{_id}}volRevew" class="field">REVIEW</label>
                      <div class="content ratting-content">
                        <article>
                          <form action="/user/{{../user._id}}/submit-ratting" method="POST">
                            <div class="ratting">
                              <input type="hidden" name="subject" value="{{_id}}" checked>
                              <h5>How do you rate {{firstName}} {{lastName}}'s help?</h5>
                              <div>
                                <label for="{{firstName}}rate1" class="eval">1</label>
                                <input type="radio" name="rate" id="{{firstName}}rate1" class="eval-rd" value="1">
                                <label for="{{firstName}}rate2" class="eval">2</label>
                                <input type="radio" name="rate" id="{{firstName}}rate2" class="eval-rd" value="2">
                                <label for="{{firstName}}rate3" class="eval">3</label>
                                <input type="radio" name="rate" id="{{firstName}}rate3" class="eval-rd" value="3">
                                <label for="{{firstName}}rate4" class="eval">4</label>
                                <input type="radio" name="rate" id="{{firstName}}rate4" class="eval-rd" value="4">
                                <label for="{{firstName}}rate5" class="eval">5</label>
                                <input type="radio" name="rate" id="{{firstName}}rate5" class="eval-rd" value="5">
                              </div>
                            </div>
                            <label> Your Review</label>
                            <textarea name="review" id="{{firstName}}text" cols="50" rows="10" maxlength="1500" required></textarea>

                            <button type="submit" class="review-btn">Submit Review</button>
                          </form>
                        </article>
                      </div>
                    </li>
                  </ul>
                </nav>
              </article>
            </div>
          </li>
          {{/each}}
        </ul>
        {{else}}
        <p>You don't have anyone who can help you</p>
        {{/if}}
      </nav>

    </div>
    <div class="map" id="map">
      {{!-- for the google map --}}
    </div>

  </div>

  {{!-- TO DO: If we have time add INSTITUTIONS block --}}

  <footer>
    <div>
      <span>Ironhack Project #2</span>
      <p>&copy; 2020 | Bruno &amp; Catarina</p>
    </div>
    <a href="https://www.facebook.com/" target="_blank"><img src="/images/icons/facebook-icon.png"></a>
  </footer>
</div>


<script src="/javascripts/map.js"></script>