{{> profileHeader}}

<div class="data container">
  <div class="title">
    <h2>PERSONAL DATA</h2>
  </div>
  <div class="data-content">
    <div class="personal">
      <p>NAME: {{user.firstName}} {{user.lastName}}</p>
      <p>BIRTH DATE: {{user.birthDate}}</p>
      <p>ADDRESS: {{user.address}}</p>
      <p>EMAIL: {{user.email}}</p>
      <p>PHONE NUMBER: {{user.phoneNumber}}</p>
    </div>
    <div class="emergency-contact">
      <h3>Emergency Contact</h3>
      <p>NAME: {{user.emergencyContact.firstName}} {{user.emergencyContact.lastName}}</p>
      <p>ADDRESS: {{user.emergencyContact.address}}</p>
      <p>EMAIL: {{user.emergencyContact.email}}</p>
      <p>PHONE NUMBER: {{user.emergencyContact.phoneNumber}}</p>
    </div>
  </div>
</div>

<div class="specs">
  <nav>
    <a href="#needs"><h2>USER NEEDS</h2></a>

    <a href="#preferences"><h2>SCHEDULE PREFERENCES</h2></a>
  </nav>
  <div id="needs" class="needs">
    <ul>
      {{#each user.specificNeeds}}
      <li>{{this.needs}}</li>
      {{/each}}
    </ul>
    <div class="notes">
      <h3>NOTES</h3>
      <article>
        {{!-- To be filled by the user through a text area of a form in the user edit (DOM manipulation)--}}
      </article>
    </div>
  </div>
  <div id="preferences" class="preferences">
    <ul>
      {{#each user.schedulePreference}}
      <li>{{this.preference}}</li>
      {{/each}}
    </ul>
  </div>
</div>

<div class="volunteers">
  <h2>ASSIGNED VOLUNTEERS</h2>
  <div class="user-volunteers" style="overflow: auto;"> {{!--  overflow: auto creats a scroll bar if the content is too big for the div --}}
    <ul>
      {{#each volunteer}}
      <li>
        <span>{{volunteer.firstName}}</span>
        <div class="avatar">
          {{!-- volunteerinitials or sized picture --}}
        </div>
      </li>
      {{/each}}
    </ul>
  </div>
  <div class="volunteer-details">
    <nav>
      <a href="#volProfile">
        <h3>PROFILE</h3>
      </a>
      <a href="#volReports">
        <h3>REPORTS</h3>
      </a>
      <a href="#volSchedules">
        <h3>SCHEDULES</h3>
      </a>
    </nav>
    <div id="volProfile">
      <p>Name: {{volunteer.firstName}} {{volunteer.lastName}}</p>
      <p>Birth Date: {{volunteer.birthDate}}</p>
      <p>Phone Number: {{volunteer.phoneNumber}}</p>
      <p>email: {{volunteer.email}}</p>
    </div>
    <div id="volRports" style="overflow: auto;">
      {{#if (report.author.id === volunteer.id && report.subject === this.User)}} {{!-- TO DO: Verify the handlebars helpers docummentation about logic --}}
        {{#each report}}
        <div>
          {{report.text}}
        </div>
        {{/each}}
      {{/if}}
    </div> 
    <div id="volSchedules">
      <ul>
        {{#each volunteer.availablePeriod === this.schedulePreference}}
        <li>{{this.schedulePreference}}</li>
      </ul>
    </div>
   
    {{!-- TO DO: Add form to submit volunteer review --}}
  </div>
</div>

{{!-- TO DO: If we have time add INSTITUTIONS block --}}